 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>Email Signature</TITLE>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</HEAD>
<BODY style="FONT-SIZE: 10pt; FONT-FAMILY: ARIAL">
<table style="WIDTH: 410px; FONT-SIZE: 10pt; FONT-FAMILY: ARIAL" cellpadding="0" cellspacing="0">
<tbody>
 <tr>
  <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; BORDER-RIGHT: #0079ac 1px solid; WIDTH: 105px; PADDING-RIGHT: 10px; vertical-align: top; text-align: center;" valign="top" rowspan="6" align="center">
   <img alt="Photograph" width="132" border="0" style="border:0; height:auto; width:132px"  src="photo.png">
  </td>
 </tr>
 <tr>
  <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; WIDTH: 305px; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; vertical-align: top; line-height:25px;" valign="top">
   <strong><span style="FONT-SIZE: 14pt; FONT-FAMILY: Arial; color:#0079ac;">{First name} {Last name}<br></span></strong>
   <span style="FONT-FAMILY: Arial; FONT-SIZE:10pt;">{Title}</span>
   <span style="FONT-FAMILY: Arial; FONT-SIZE:10pt;"> | </span>
   <span style="FONT-FAMILY: Arial; FONT-SIZE:10pt;">{Company}</span>     
  </td>
 </tr>
 <tr>
  <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; vertical-align: top;" valign="top">
   <span><span style="color: #0079ac;"><strong>M:</strong></span><span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial;"> {Mobile}<br></span></span>
   <span><span style="color: #0079ac;"><strong>P:</strong></span><span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial;"> {Phone}<br></span></span>
   <span><span style="color: #0079ac;"><strong>E:</strong></span><span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial;"> {E-mail}</span></span>
  </td>
 </tr>
 <tr>
  <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; vertical-align: top; color: #0079ac;" valign="top">
   <span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial;">{Address 1}<span><br></span></span>
   <span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial;">{Address 2}</span>
  </td>
 </tr>
 <tr>
  <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; vertical-align: top; color: #0079ac;" valign="top">
   <a href="http://{Web page}" target="_blank"><span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; color: #0079ac;">{Web page}</span></a>
  </td>
 </tr>
 <tr>
  <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; vertical-align: top;" valign="top">
   <span><a href="{Facebook URL}" target="_blank"><img border="0" width="23" alt="Facebook icon" style="border:0; height:23px; width:23px" src="fb.png"></a></span>
   <span><a href="{Twitter URL}" target="_blank"><img border="0" width="23" alt="Twitter icon" style="border:0; height:23px; width:23px" src="tt.png"></a></span>
   <span><a href="{Youtube URL}" target="_blank"><img border="0" width="23" alt="Youtube icon" style="border:0; height:23px; width:23px" src="yt.png"></a></span>
   <span><a href="{LinkedIn URL}" target="_blank"><img border="0" width="23" alt="LinkedIn icon" style="border:0; height:23px; width:23px" src="ln.png"></a></span>
   <span><a href="{Google Plus URL}" target="_blank"><img border="0" width="23" alt="Google Plus icon" style="border:0; height:23px; width:23px" src="gp.png"></a></span>
   <span><a href="{Instagram URL}" target="_blank"><img border="0" width="23" alt="Instagram icon" style="border:0; height:23px; width:23px" src="it.png"></a> </span>
  </td>
 </tr>
</tbody>
</table>

</BODY>
</HTML>
